@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-01: #bfafa6;
    --cor-02: #bd1e1e;
    --cor-03: #fffb46;

    --font-01: "Inter", sans-serif;
    --font-02: "Playfair", serif;
    --font-03: "Montserrat", sans-serif;
}