@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --cor-1: #5c7aff;
    --cor-2: #2ab7ca;
    --cor-3: #13293d;
    --cor-4: #403d58;

    --font-1: "Inter", sans-serif;
    --font-2:"Poppins", sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

html, body {
    font-family: var(--font-1);
}

header {
    background-image: linear-gradient(to right, #09233d, #1a61a8);
    color: white;
    padding: 200px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

header h1 {
    font-size: 4.5vw;
    font-family: var(--font-2);
    font-weight: normal;
}

header p {
    padding-top: 10px;
    padding-bottom: 10px;
}

header a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
    margin-left: 20px;
    padding: 5px 10px;
    transition: 0.5s;
}

header a:hover {
    background-color: #403d58;
    border-radius: 10px;
    color: var(--cor-1);
}

.destaque {
    text-decoration: underline;
}

main {
    padding: 20px;
}

main h1 {
    margin-bottom: 10px;
    color: var(--cor-3);
    font-size: 2.5em;
}

main h2 {
    color: var(--cor-3);
    font-size: 2.2em;
    margin-bottom: 20px;
}

main p {
   margin-bottom: 10px; 
   line-height: 2em;
   font-size: 1.1em;
}